*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(176, 151, 151);
}
.container{
background: rgba(14, 116, 219, 0.9);
width: 600px;

box-shadow: 0px 0px 10px 0px silver;
height: 300px;
}

.container .child {
    padding: 30px 30px;
    position: relative;
}
.container .child  h2 {
    margin: 10px ;
    color: aliceblue;
}
.container .child form textarea {
resize: none;
font-size: 20px;
}
.container .child form label{

 margin: 18px 0px;
padding: 0px 10px;
    border: 0px;
    transition: all 0.25s ease-in-out;
    color:rgba(0, 0, 0,0.6);

    font-size: 22px;
    border-radius: 18px;
}
.container .child form input:hover {
background: indianred;
}
.container .child  #get ,#comp{
position: absolute;
top: 140px;
    font-size: 22px;
    
}
#comp{
    position: absolute;
    left: 260px;
}
.container .child  #get #display,#displays{
  
    margin: 0px 5px;
}
#displays {
    color:white;
}

@media screen and (max-width:545px) {
    .container {
        width: 94vw;
    }
    .container .child  {
        padding: 0px 10px;
    
    }
    .container .child form textarea {
        resize: none;
        font-size: 14px;
        margin: 10px 10px;
        }
        .container .child  #get ,#comp{
                position: absolute;
                top: 130px;
                display: block;
                z-index: 2;
                    font-size: 22px;
                    
                }
                #comp{
                    position: absolute;
                    left: 10px;
                    top: 160px;
                }
}
